body {
  font-family: stencil;
  color: yellow;
  background-color: green;
}
h1, .inputenknoppen{
  text-align: center;
}
#h1_2 {
  text-align: center;
}

lijst {
  display:table; margin:0 auto;
}
.over_ons, .onze_code, .home{
  color: green;
  font-size: 29px;
  padding-left:30%;
}

#link {
  color: yellow;
  font-size: 29px;
}
.tabel{
  background-color: yellow;
  border-radius: 400px;
  width: 60%;
}

.onze_code:hover{
  font-size: 35px;
}
.over_ons:hover{
  font-size: 35px;
}

.home:hover{
  font-size: 35px;
}

.link:hover{
  font-size: 35px;
}
.img, iframe{
  border: 15px solid yellow;
  background-color: darkgreen;
  padding: 10px;
  margin: 10px;
  width: 90%;
}
th{
  border: 4px solid black;
  border-color: black;
  background-color: darkgreen;
  border-radius: 30px;
  width: 20%;
}
